.header {
  position: relative;
  height: 4em;
  width: 100vw;
  display: grid;
  padding: 0.5em;
  grid-template-columns: 3fr 1fr; //no cap
  place-items: center;
  border-bottom: var(--border-300);
}
