@use '../utils/mixins' as mixin;

.header {
  position: relative;
  height: 4em;
  width: 100vw;
  display: grid;
  padding: 0.5em;
  grid-template-columns: 3fr 1fr; 
  place-items: center;
  border-bottom: var(--border-300);
  

  @include mixin.respond(tab) {
    height: 6em;
    grid-template-colums: 1fr;
    place-content: center;
    padding: 0;
  }

}
