@use '../utils/mixins' as mixin;

.header {
  position:fixed;
  height: 4em;
  width: 100vw;
  display: grid;
  padding: 0.5em 2em;
  grid-template-columns: 3fr 1fr;
  border-bottom: var(--border-900);
  overflow: hidden;
  background-color: hsl(var(--color-light));
  z-index: 999999;

  @include mixin.respond(tab) {
    position: relative;
    height: 6em;
    grid-template-colums: 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    border: none;
    overflow: visible;
  }

}
