@use '../../../../../../../../styles/utils/mixins' as *;

.projectLink {
  padding: var(--spacing-100) var(--spacing-300);
  border: var(--border-200);
  border-radius: var(--br-900);
  box-shadow: inset 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.15);
  background-color: hsl(var(--color-blue));
  text-align: center;
  cursor: pointer;
  @include transitionMain;

  &:hover,
  &:focus {
    border: var(--border-200);
    border-color: hsl(var(--color-blue));
    background-color: hsl(var(--color-light) / 0.9);
  }

  &:active {
    border: var(--border-200);
    border-color: hsl(var(--color-vibrant-blue));
    background-color: hsl(var(--color-light) / 0.6);
  
  }

  & a {
    color: hsl(var(--color-dark));
    font-size: var(--fs-300);
    font-weight: var(--fw-medium-bold);
  }
}
