@use '../../../../../styles/utils/mixins/' as *;

.projectCard {
  position: relative;
  width: 100%;
  height: 100%;
  border: var(--border-400);
  border-radius: var(--br-400);
  box-shadow: var(--box-shadow-400);

  @include respond(tab){
    max-width: 30rem;
  }

  @include respond(smallDesktop){
    min-height: 43.75rem;
    max-width: 32.5rem;
    border-radius: var(--br-900) var(--br-900) 6rem var(--br-900);
  }
}
