@use '../../utils/mixins' as mixin;

.menuToggle {
  
  position: relative;
  height: 2em;
  width: 2.5em;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;

  @include mixin.respond(tab) {
    display: none;
  }

  & span {
    position: absolute;
    height: 0.15em;
    width: 100%;
    display: block;
    background-color: hsl(var(--color-dark));

   
  }
}
