@use '../../../../styles/utils/mixins' as *;

.footerBlocks {
    height: 100%;
    padding: 4em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
    @include respond(tab) {
        width: 50vw;
        gap: 2em;
        border-bottom: var(--border-200);
    }
}