.bg-light {
  background-color: hsl(var(--color-light));
}
.bg-dark {
  background-color: hsl(var(--color-dark));
}
.bg-black {
  background-color: hsl(var(--color-black));
}
.bg-blue {
  background-color: hsl(var(--color-blue));
}
.bg-red {
  background-color: hsl(var(--color-red));
}
.bg-violet {
  background-color: hsl(var(--color-violet));
}
.bg-yellow {
  background-color: hsl(var(--color-yellow));
}
.bg-green {
  background-color: hsl(var(--color-green));
}
.bg-pink {
  background-color: hsl(var(--color-pink));
}

.bg-orange {
  background-color: hsl(var(--color-orange));
}

.bg-vibrant-blue {
  background-color: hsl(var(--color-vibrant-blue));
}

.bg-vibrant-red {
  background-color: hsl(var(--color-vibrant-red));
}

.bg-vibrant-purple {
  background-color: hsl(var(--color-vibrant-purple));
}

.bg-vibrant-orange {
  background-color: hsl(var(--color-vibrant-orange));
}

.bg-vibrant-green {
  background-color: hsl(var(--color-vibrant-green));
}

.bg-vibrant-pink {
  background-color: hsl(var(--color-vibrant-pink));
}
