.fillLight {
  fill: hsl(var(--color-light));
}
.fillDark {
  fill: hsl(var(--color-dark));
}
.fillBlack {
  fill: hsl(var(--color-black));
}
.fill-blue {
  fill: hsl(var(--color-blue));
}

.fill-red {
  fill: hsl(var(--color-red));
}

.fill-violet {
  fill: hsl(var(--color-violet));
}

.fill-yellow {
  fill: hsl(var(--color-yellow));
}

.fill-green {
  fill: hsl(var(--color-green));
}

.fill-pink {
  fill: hsl(var(--color-pink));
}

.fill-orange {
  fill: hsl(var(--color-orange));
}

/* Vibrant Fill */
.fill-vibrant-blue {
  fill: hsl(var(--color-vibrant-blue));
}

.fill-vibrant-red {
  fill: hsl(var(--color-vibrant-red));
}

.fill-vibrant-purple {
  fill: hsl(var(--color-vibrant-purple));
}

.fill-vibrant-orange {
  fill: hsl(var(--color-vibrant-orange));
}

.fill-vibrant-green {
  fill: hsl(var(--color-vibrant-green));
}

.fill-vibrant-pink {
  fill: hsl(var(--color-vibrant-pink));
}
