@use '../mixins' as *;

.top-right {
  bottom: var(--spacing-400);
  right: var(--spacing-100);

  @include respond(smallDesktop) {
    bottom: var(--spacing-500);
    right: var(--spacing-100);
  }
}

.width50 {
  width: 75%;
  margin: 0 auto;

  @include respond(smallDesktop) {
    width: 50%;
  }
}
