@use '../../../../../../styles/utils/mixins' as *;

.stackBoxFour {
    grid-area: stack-4;
    padding: 2em 1em;
    border-bottom: var(--border-400);
    border-top: var(--border-400);

    @include respond(tab) {
        border-top: none;
        border-bottom: none;
    }
}