.smallContainer {
  position: relative;
  margin: 1em auto;
  margin-bottom: 0;
  padding: 0.5em 1em;
  border: var(--border-200);
  border-radius: var(--br-900);
  box-shadow: var(--box-shadow-400);
  font-weight: var(--fw-extra-bold);
  text-align: center;
  letter-spacing: 0.125em;
  font-size: var(--fs-400);

  & span {
    position: absolute;
    font-size: var(--fs-300);
    line-height: 95%;
    letter-spacing: -0.01rem;
    transform: translate(125%, -55%) rotate(15deg) skew(-5deg);
  }
}
