@use '../../../../../styles/utils/mixins' as *;

.aboutCard {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    border: var(--border-500);
    border-radius: var(--br-400);
    box-shadow: var(--box-shadow-600);


   @include respond(tab) {
    padding: 1em 3em;
   }

   @include respond(desktop) {
    margin: 0 1em;
    height: 37em;
    align-items: center;
    justify-content: center;
   }

    & p {
        background-color: hsl(var(--color-light));
        padding: 2em 1em;
        border: var(--border-200);
        border-radius: var(--br-500);
        box-shadow: var(--box-shadow-200);
        line-height: 1.75;

        @include respond(desktop) {
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 1.5em;
        }
    }


}