@use '../../../styles/utils/mixins' as *;

.sectionTitle {
  margin: var(--spacing-900) auto;
  padding: var(--spacing-200) var(--spacing-400);
  border: var(--border-300);
  border-radius: var(--br-900);
  box-shadow: var(--box-shadow-300);
  display: grid;
  place-content: center;
  font-size: var(--fs-700);
  font-weight: var(--fw-extra-bold);
  letter-spacing: 0.125em;
  transform: skew(-25deg);

  @include respond(smallDesktop) {
    font-size: var(--fs-700);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 3em;
    background-color: inherit;
    box-shadow: inherit;
    border: inherit;
    border-radius: inherit;
    place-self: center;
  }

  &::before {
    left: -1em;
  }

  &::after {
    right: -1em;
  }

  & span {
    width: 100%;
    transform: skew(25deg);
    text-align: center;
  }
}
