@use './breakpoints' as *;

@mixin indent {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);

  @include respond(smallDesktop) {
    height: 0;
  }
  

  div {
    width: 100%;
    height: 0.5rem;
    box-shadow: inset 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    background-color: hsl(var(--color-blue));
    
    @include respond(smallDesktop) {
      height: 0.3rem;
      box-shadow: inset 0.0125rem 0.0125rem 0.0125rem rgba(0, 0, 0, 0.15);
      border-radius: none;
      


    }
  }
}
