@use '../../../../../styles/utils/mixins' as *;

.projectBottomHalf {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-400) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
