.mainHeading {
  font-size: var(--fs-900);
  letter-spacing: 0.125em;
  color: hsl(var(--color-vibrant-purple));
  text-shadow: 0.0425em 0.0225em 0 hsl(var(--color-yellow)),
    0.0825em 0.0425em 0 hsl(var(--color-vibrant-red));
}
