@use '../../../styles/utils/mixins' as *;

.stack {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'stack-1'
    'stack-2'
    'stack-4'
    'stack-3';
    border-bottom: var(--border-800);
    border-top: var(--border-800);

    @include respond(tab) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'stack-1 stack-2'
        'stack-3 stack-4';
    }
}