@use '../../../utils/mixins' as mixin;

.about {
    height: 100%;
    margin-top: 9em;
    border-top: var(--border-400);
    border-bottom: var(--border-400);

    @include mixin.respond(tab) {
        margin-top: 0;
        border-top: none;
        border-bottom: none;
    }

    h2 {
        // font-size: var(--font-600);
        // margin-bottom: var(--space-400);
    }
}