@use '../../../utils/mixins' as mixin;

.about {
    height: 100%;
    border-top: var(--border-800);
    border-bottom: var(--border-800);

    @include mixin.respond(smallDesktop) {
        margin-top: 0;
        border-bottom: none;
    }
}