@use '../../../../styles/utils/mixins' as *;

.heroPicture {
  height: 50vh;
  width: 100%;
  border-top: var(--border-200);
  background-color: hsl(var(--color-pink));
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @include respond(tab) {
    height: 100%;
    margin: 0;
  }

  @include respond(smallDesktop) {
    height: 100vh;
    width: 50%;
    border-top: none;
    border-left: var(--border-200);
  }

  @include respond(desktop) {
  }
}
