@use '../../../../styles/utils/mixins' as *;

.navBar {
  display: none;

  @include transitionMain;

  @include respond(tab) {
    position: relative;
    grid-row: 2 / 2;
    width: 100vw;
    display: block;
    padding: 2em 3em;
    border-bottom: var(--border-800);
    border-top: var(--border-600);
    background-color: hsl(var(--color-light));
    z-index: 9000 !important; // This is for the developer
    @include transitionMain;
  }
}

.stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  border-top: none;
  height: 4em;
  padding: 1.5em 2em;
  @include transitionMain;

  & ul {
    font-size: var(--fs-500);
  }

  @include respond(desktop) {
    height: 2em;
  }
}

.navbarOffsetMargin {
  padding-top: 1em;
}
