@use '../../../../utils/mixins/' as mixin;

.stackBoxThree {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'icon1 icon2'
    'icon3 icon4';
  @include mixin.respond(tab) {
    border-right: var(--border-400);
  }

  .stackIcon1 {
    grid-area: icon1;
  }

  .stackIcon2 {
    grid-area: icon2;
  }

  .stackIcon3 {
    grid-area: icon3;
  }

  .stackIcon4 {
    grid-area: icon4;
  }
}