@use '../../../styles/utils/mixins' as *;

.about {
    height: 100%;
    border-top: var(--border-400);
    border-bottom: var(--border-400);
    gap: var(--spacing-900);

    @include respond(smallDesktop) {
        margin-top: 0;
        gap: 0;
    }
}