@use '../../../styles/utils/mixins' as *;

.contact {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--border-600);
    border-bottom: var(--border-600);

    @include respond(smallDesktop) {
        flex-direction: row;
    }
}