@use '../../../utils/mixins/' as mixin;

.projectGrid {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 1em auto;
  display: grid;
  background-color: inherit;
  place-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em 1em;
  grid-template-areas:
    'title title'
    'project1 project1'
    'project2 project2'
    'project3 project3'
    'project4 project4';

  @include mixin.respond(smallDesktop) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1em 1em;
    grid-template-areas:
      '. . title title title title . .'
      'project1 project1 project1 project1 project2 project2 project2 .'
      'project1 project1 project1 project1 project2 project2 project2 .'
      'project1 project1 project1 project1 project2 project2 project2 .'
      'project1 project1 project1 project1 project4 project4 project4 .'
      'project3 project3 project3 . project4 project4 project4 .'
      'project3 project3 project3 . project4 project4 project4 .'
      'project3 project3 project3 . project4 project4 project4 .';
  }

  .project1 {
    grid-area: project1;
  }
  .project2 {
    grid-area: project2;
  }
  .project3 {
    grid-area: project3;
  }
  .project4 {
    grid-area: project4;
  }
  .title {
    grid-area: title;
  }
}
