.projects {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(var(--color-4));
    border-top: var(--border-600);
    border-bottom: var(--border-600);
}