@use '../../../utils/mixins/' as mixin;

.projectGrid {
  height: 100%;
  width: 100%;
  margin: 1em auto;
  padding: 0 2em;
display: flex;
flex-wrap: wrap;
gap: 2em;
place-items: center;
background-color: inherit;
}
