@use '../../../styles/utils/mixins' as *;

.smallIcon {
    position: absolute;
    @include icon(3.875rem, 3.875rem, var(--box-shadow-200));

  
}

.left {
  left: 0;
  top: 0;
  transform: rotate(25deg);
}

.right {
  right: 0;
  top: 0;
  transform: rotate(-25deg);
}