.smallIcon {
    position: absolute;
    height: 4em;
    width: 4em;
    border: var(--border-300);
    border-radius: var(--br-900);
    display: grid;
    place-items: center;
    // padding: 0.4em;
    box-shadow: var(--box-shadow-300);
}