.icon1 {
  top: 0;
  left: 0;
  transform: translate(-15%, -15%) rotate(25deg);
  z-index: 100;
}

.icon2 {
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%) rotate(-50deg);
}

.icon3 {
  top: 100%;
  left: 0;
  transform: translate(15%, -90%) rotate(-25deg);
}

.icon4 {
  bottom: 100%;
  right: 0;
  transform: translate(-25%, 90%) rotate(50deg);
}