:root {
  --border-100: 0.0625em solid hsl(var(--color-black));
  --border-200: 0.125em solid hsl(var(--color-black));
  --border-300: 0.1875em solid hsl(var(--color-black));
  --border-400: 0.25em solid hsl(var(--color-black));
  --border-500: 0.3125em solid hsl(var(--color-black));
  --border-600: 0.375em solid hsl(var(--color-black));
  --border-700: 0.4375em solid hsl(var(--color-black));
  --border-800: 0.5em solid hsl(var(--color-black));
  --border-900: 0.5625em solid hsl(var(--color-black));
}
