:root {
  --border-100: 0.0625rem solid hsl(var(--color-black));
  --border-200: 0.125rem solid hsl(var(--color-black));
  --border-300: 0.1875rem solid hsl(var(--color-black));
  --border-400: 0.25rem solid hsl(var(--color-black));
  --border-500: 0.3125rem solid hsl(var(--color-black));
  --border-600: 0.375rem solid hsl(var(--color-black));
  --border-700: 0.4375rem solid hsl(var(--color-black));
  --border-800: 0.5rem solid hsl(var(--color-black));
  --border-900: 0.5625rem solid hsl(var(--color-black));
}
