:root {
  --br-100: 0.0625em;
  --br-200: 0.125em;
  --br-300: 0.1875em;
  --br-400: 0.25em;
  --br-500: 0.3125em;
  --br-600: 0.375em;
  --br-700: 0.4375em;
  --br-800: 0.5em;
  --br-900: 0.75em;
  --border-radius-pill: 50%;
}
