:root {
  --br-100: 0.0625rem;
  --br-200: 0.125rem;
  --br-300: 0.1875rem;
  --br-400: 0.25rem;
  --br-500: 0.3125rem;
  --br-600: 0.375rem;
  --br-700: 0.4375rem;
  --br-800: 0.5rem;
  --br-900: 0.75rem;
  --border-radius-pill: 50%;
}
