:root {
  --box-shadow-200: 0.25em 0.25em 0 hsl(var(--color-black));
  --box-shadow-300: 0.325em 0.325em 0 hsl(var(--color-black));
  --box-shadow-400: 0.5em 0.5em 0 hsl(var(--color-black));
  --box-shadow-500: 0.75em 0.75em 0 hsl(var(--color-black));
  --box-shadow-600: 1em 1em 0 hsl(var(--color-black));
  --box-shadow-700: 2em 2em 0 hsl(var(--color-black));
}
