:root {
  --box-shadow-200: 0.25rem 0.25rem 0 hsl(var(--color-black));
  --box-shadow-300: 0.325rem 0.325rem 0 hsl(var(--color-black));
  --box-shadow-400: 0.5rem 0.5rem 0 hsl(var(--color-black));
  --box-shadow-500: 0.75rem 0.75rem 0 hsl(var(--color-black));
  --box-shadow-600: 1rem 1rem 0 hsl(var(--color-black));
  --box-shadow-700: 2rem 2rem 0 hsl(var(--color-black));
}
