:root {
  /* Primary */
  --color-1: 216 100% 91%; // #CFE2FF
  --color-2: 349 100% 78%; // #FF8FA3
  --color-3: 252 100% 86%; // #C7B9FF
  --color-4: 47 100% 50%; // #FFC900
  --color-5: 174 64% 38%; // #23A094
  --color-6: 312 100% 78%; // #FF90E8

  /* Text */
  --color-text-1: 216 80% 24%; // #0C336E
  --color-text-2: 349 65% 28%; // #751929
  --color-text-3: 252 80% 31%; // #29108F
  --color-text-4: 58 80% 19%; // #59560A
  --color-text-5: 174 77% 20%; // #0C5C54
  --color-text-6: 312 80% 23%; // #6B0C57

  /* Vibrant */
   --color-vibrant-1: 216 100% 50%; // #0065FF
  --color-vibrant-2: 349 100% 50%; // #FF002E
  --color-vibrant-3: 252 100% 50%; // #3300FF
  --color-vibrant-4: 65 100% 50%; // #EBFF00
  --color-vibrant-5: 174 100% 50%; // #00FFE7
  --color-vibrant-6: 312 100% 50%; // #FF00CA

  /* Link Text */

  --color-link-text: 249 80% 40%; // #2C14B8
  --color-link-text-hover: 249 80% 51%; // #3C1EE6
  --color-link-text-active: 249 80% 25%; // #1C0D73

  /* Neutral */
  --color-light: 216 71% 96%; // #EDF3FC
  --color-dark: 231 41% 3%; // #070708
  --color-black: 0 0% 0%; // #000000
}
