:root {
  /* Primary */
  --color-blue: 204 67% 82%; // #b4dcf3
  --color-red: 355 79% 71%; // #ef879a
  --color-violet: 249 57% 78%; // #b3a3f2
  --color-yellow: 61 62% 66%; // #e8ea76
  --color-green: 165 70% 60%; // #4ddacd
  --color-pink: 311 75% 68%; // #e66cda
  --color-orange: 21 70% 71%; // #e5a78d

  /* Vibrant */
  --color-vibrant-blue: 219 79% 47%; // #2c5fe2
  --color-vibrant-red: 352 79% 41%; // #dd193d
  --color-vibrant-purple: 252 78% 45%; // #4a23e2
  --color-vibrant-orange: 16 70% 50%; // #d86331
  --color-vibrant-green: 157 76% 38%; // #16ab76
  --color-vibrant-pink: 276 75% 47%; // #a624e3

  /* Link Text */

  --color-link: 249 80% 40%; // #2C14B8
  --color-link-hover: 249 80% 51%; // #3C1EE6
  --color-link-active: 249 80% 25%; // #1C0D73

  /* Neutral */
  --color-light: 216 71% 96%; // #EDF3FC
  --color-dark: 231 41% 3%; // #070708
  --color-black: 0 0% 0%; // #000000
}
