:root {
  /* Primary */
  --color-1: 216 100% 91%; // #CFE2FF
  --color-2: 349 100% 78%; // #FF8FA3
  --color-3: 252 100% 86%; // #C7B9FF
  --color-4: 47 100% 50%; // #FFC900
  --color-5: 174 64% 38%; // #23A094
  --color-6: 312 100% 78%; // #FF90E8

  /* Secondary */
  --vibrant-1: 216 100% 50%; // #0065FF
  --vibrant-2: 349 100% 50%; // #FF002E
  --vibrant-3: 252 100% 50%; // #3300FF
  --vibrant-4: 65 100% 50%; // #EBFF00
  --vibrant-5: 174 100% 50%; // #00FFE7
  --vibrant-6: 312 100% 50%; // #FF00CA

  /* Neutral */
  --color-light: 216 71% 96%; // #EDF3FC
  --color-dark: 231 41% 3%; // #070708
  --color-black: 0 0% 0%; // #000000
}
