.largeContainer {
    align-self: flex-end;
    border: var(--border-200);
    border-radius: var(--br-900);
    font-weight: var(--fw-bold);
    text-align: center;
    letter-spacing: 0.125em;
    padding: 1.5em 5em;
    box-shadow: var(--box-shadow-400);
    font-size: var(--fs-600);
    line-height: 1.5;
};