@use '../../../utils/mixins' as mixin;

.hero {
height: calc(100vh - 4em);
width: 100%;
display: flex;
flex-direction: column;
border-bottom: var(--border-500);

@include mixin.respond(tab) {
    height: 100%;
    margin-top: 5em;
}

@include mixin.respond(desktop) {
    flex-direction: row;
    margin-top: 0;
}
  
}