@use '../../../utils/mixins' as mixin;

.heroPicture {
  min-height: 70%;
  width: 100%;
  background-color: hsl(var(--color-5));
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @include mixin.respond(tab) {
    min-height: 50vh;
  }

  @include mixin.respond(desktop) {
    height: calc(100vh - 8em);
    width: 50%;
    border-left: var(--border-200);
  }
}
