@use '../../../../../../styles/utils/mixins/' as *;

.stackBoxOne {
    grid-area: stack-1;
    padding: 2em 1em;
    border-bottom: var(--border-400);

    @include respond(tab) {
        border-right: var(--border-400);
    }
}