@use '../../utils/mixins' as mixin;

.flexSectionWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mixin.respond(tab) {
        flex-direction: row;
    }
}